body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E6E6FA; /* Light lavender background */
}

header {
    background-color: #9370DB; /* Medium purple */
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    flex-grow: 1;
}

#map-container {
    flex: 2;
    height: calc(100vh - 130px);
}

#map {
    width: 100%;
    height: 100%;
}

#sidebar {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: #D8BFD8; /* Thistle */
}

#show-recommendations-button,
#route-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8A2BE2; /* Blue violet */
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

#show-recommendations-button:hover,
#route-button:hover {
    background-color: #9400D3; /* Dark violet */
}

#recommendation-list ul {
    list-style-type: none;
    padding: 0;
}

#recommendation-list li {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #E6E6FA; /* Light lavender */
    border-radius: 3px;
}

#recommendation-list li:hover {
    background-color: #DDA0DD; /* Plum */
}

#recommendation-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #E6E6FA; /* Light lavender */
    border-radius: 3px;
}

footer {
    background-color: #9370DB; /* Medium purple */
    color: white;
    text-align: center;
    padding: 1rem;
}